body{
  background: #191919;
  font-family: 'Varela', sans-serif;
  height: 100%;
}

.launch{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 15rem;
}

.key{
    margin-top: 4em;
    width: 150px;
    height: 150px;
    transition: all 1s;
}

.key a{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-image: url('img/key.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 1s;
}


.sliding-doors{
  width: 210px;
  height: 230px;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  -moz-box-shadow:    inset 0 0 10px #000;
  -webkit-box-shadow: inset 0 0 10px #000;
  box-shadow:         inset 0 0 10px #000;
}

.sliding-doors:before,
.sliding-doors:after{
  content: "";
  width: 105px !important;
  height: 230px;
  left: 0px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  -webkit-transition: 2000ms;
  border: 3px solid rgba(0, 0, 0, 0.5);
  background-image: url('img/gun_metal.png');
  background-repeat: repeat;
  }

.activate{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

figure#launchtime {
  min-height: 300px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  position: absolute;
  z-index: -5;
  width: 100%;
}
figure#launchtime button {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: none;
  color: #fff;
  font-weight: 900;
  font-size: 2.5rem;
  background: red;
  text-shadow: 0 3px 1px rgba(122,17,8,.8);
  box-shadow: 0 8px 0 rgb(183,9,0),0 15px 20px rgba(0,0,0,.35);
  text-transform: uppercase;
  transition: .4s all ease-in;
  outline: none;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin-top: -75px;
  margin-left: 5px;
}
figure#launchtime button span { position:relative; }
figure#launchtime button.pressed {
  padding-top: 3px;
  transform: translateY(4px);
  box-shadow: 0 4px 0 rgb(183,0,0), 0 8px 6px rgba(0,0,0,.45);
}

.opened:before{
    left: -105px;
}
.opened:after{
    left: 105px;
}

.warning{
    -webkit-animation: warning .75s linear infinite;
    animation: warning .75s linear infinite;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

@-webkit-keyframes warning{
    0%{
        background-color: #191919;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: #191919;
    }
}

@keyframes{
    0%{
        background-color: #191919;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: #191919;
    }
}




/*Glitch header*/

.grabber {
  color: white;
  font-size: 75px;
  position: relative;
  width: 850px;
  margin: 0 auto;
  margin-top: 1em;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(13px, 9999px, 84px, 0);
  }
  5% {
    clip: rect(48px, 9999px, 2px, 0);
  }
  10% {
    clip: rect(15px, 9999px, 89px, 0);
  }
  15% {
    clip: rect(23px, 9999px, 28px, 0);
  }
  20% {
    clip: rect(79px, 9999px, 22px, 0);
  }
  25% {
    clip: rect(88px, 9999px, 68px, 0);
  }
  30% {
    clip: rect(77px, 9999px, 22px, 0);
  }
  35% {
    clip: rect(41px, 9999px, 64px, 0);
  }
  40% {
    clip: rect(91px, 9999px, 58px, 0);
  }
  45% {
    clip: rect(48px, 9999px, 97px, 0);
  }
  50% {
    clip: rect(33px, 9999px, 28px, 0);
  }
  55% {
    clip: rect(42px, 9999px, 99px, 0);
  }
  60% {
    clip: rect(96px, 9999px, 98px, 0);
  }
  65% {
    clip: rect(8px, 9999px, 41px, 0);
  }
  70% {
    clip: rect(37px, 9999px, 35px, 0);
  }
  75% {
    clip: rect(7px, 9999px, 98px, 0);
  }
  80% {
    clip: rect(21px, 9999px, 43px, 0);
  }
  85% {
    clip: rect(67px, 9999px, 91px, 0);
  }
  90% {
    clip: rect(94px, 9999px, 46px, 0);
  }
  95% {
    clip: rect(47px, 9999px, 72px, 0);
  }
  100% {
    clip: rect(8px, 9999px, 10px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(24px, 9999px, 68px, 0);
  }
  5% {
    clip: rect(96px, 9999px, 31px, 0);
  }
  10% {
    clip: rect(57px, 9999px, 14px, 0);
  }
  15% {
    clip: rect(10px, 9999px, 9px, 0);
  }
  20% {
    clip: rect(34px, 9999px, 7px, 0);
  }
  25% {
    clip: rect(41px, 9999px, 84px, 0);
  }
  30% {
    clip: rect(31px, 9999px, 29px, 0);
  }
  35% {
    clip: rect(46px, 9999px, 86px, 0);
  }
  40% {
    clip: rect(79px, 9999px, 10px, 0);
  }
  45% {
    clip: rect(20px, 9999px, 70px, 0);
  }
  50% {
    clip: rect(51px, 9999px, 2px, 0);
  }
  55% {
    clip: rect(43px, 9999px, 84px, 0);
  }
  60% {
    clip: rect(40px, 9999px, 97px, 0);
  }
  65% {
    clip: rect(47px, 9999px, 9px, 0);
  }
  70% {
    clip: rect(70px, 9999px, 32px, 0);
  }
  75% {
    clip: rect(33px, 9999px, 50px, 0);
  }
  80% {
    clip: rect(67px, 9999px, 58px, 0);
  }
  85% {
    clip: rect(8px, 9999px, 32px, 0);
  }
  90% {
    clip: rect(12px, 9999px, 24px, 0);
  }
  95% {
    clip: rect(59px, 9999px, 37px, 0);
  }
  100% {
    clip: rect(73px, 9999px, 40px, 0);
  }
}
